__pycache__/
*.py[cod]
*.egg-info/
*.eggs/
build/
dist/
.coverage*
*.log
.env
.venv/
.terraform/
terraform.tfstate*
.terragrunt-cache/
.DS_Store
.idea/
.vscode/
__pypackages__/
nw_env/
.terraform*
*.tfvars
chromadb/
keys/
*_env/
stories/
scripts/